*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bg-dark-blue-color: rgb(77, 0, 128);
    --bg-light-purple-color: rgb(255, 0, 255);
    --bg-light-purple-color-lighter: rgb(253, 90, 253);
}

html {
    height: 100%;
    font-weight: 400;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 8px;
    /* height: 6px; */
}

::-webkit-scrollbar-track {
    background: var(--bg-dark-blue-color);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-light-purple-color);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg-light-purple-color-lighter);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle at top , var(--bg-dark-blue-color), black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-light-purple-color) var(--bg-light-purple-color);
}

li {
    list-style: none;
    text-wrap: wrap;
}

.max-width {
    width: 100%;
    max-width: 1230px;
    padding: 20px 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#site-title {
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 380px;
}

#location-search {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    font-size: inherit;
    width: 100%;
    box-shadow: 0px 0px 15px 1px var(--bg-light-purple-color);
    transition: all .3s;
}

#location-search:focus {
    outline: none;
}

@keyframes ForwardAnimation {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 50%;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes BackwardAnimation {
    0% {
        background-position: 100%;
    }
    50% {
        background-position: 50%;
    }
    100% {
        background-position: 0%;
    }
}

.animated-btn {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    font-size: inherit;
    background: linear-gradient(90deg, var(--bg-dark-blue-color), var(--bg-light-purple-color), var(--bg-dark-blue-color));
    background-size: 200% 100%;
    background-position: 0%;
    color: white;
    animation: BackwardAnimation .2s linear forwards;
}

.animated-btn:hover {
    cursor: pointer;
    animation: ForwardAnimation .2s linear forwards;
}

main {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

#main-heading {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    align-self: center;
}

#city-name {
    color: var(--bg-light-purple-color);
    text-shadow: 0px 0px 5px var(--bg-light-purple-color);
}

section {
    width: 100%;
}

.temp-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    max-width: 32rem;
    border: 2px solid var(--bg-light-purple-color-lighter);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px var(--bg-light-purple-color);
    padding: 20px;
    color: white;
}

@media (max-width: 810px) {
    .temp-box {
        max-width: none;
    }
}

#toggle-week-temp-view {
    padding: 20px 25px;
    border-radius: 30px;
}

.day-and-weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.day, .date {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--bg-light-purple-color);
}

.weather-icon {
    width: 80px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
}

.detail-heading {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-light-purple-color);
}

#week-weather {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
    gap: 30px;
}

#week-weather > div[class="temp-box"] {
    max-width: none;
}